name: Sync Remote Feed

on:
  schedule:
    # 这里的 0-5 对应北京时间的 08:00 到 13:00
    - cron: '0 0-5 * * *'
  workflow_dispatch:

jobs:
  fetch:
    runs-on: ubuntu-latest
    # 设置允许脚本即使出错也不标记为失败
    continue-on-error: true 
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Download Feed
        run: |
          curl -L -A "Mozilla/5.0" https://bf.zzxworld.com/feed.xml -o feed.xml

      - name: Commit and Push
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git add feed.xml
          git diff --quiet && git diff --staged --quiet || (git commit -m "Update feed: $(date)" && git push)
